[submodule "wavestate-doc"]
	path = wield-doc
	url = git@github.com:wavestate/wavestate-doc.git
[submodule "wavestate-test"]
	path = wield-test
	url = git@github.com:wavestate/wavestate-test.git
[submodule "wavestate-quantum"]
	path = wield-quantum
	url = git@github.com:wavestate/wavestate-quantum.git
[submodule "wavestate-utilities"]
	path = wield-utilities
	url = git@github.com:wavestate/wavestate-utilities.git
[submodule "wavestate-model"]
	path = wield-model
	url = git@github.com:wavestate/wavestate-model.git
[submodule "wavestate-devel"]
	path = wield-devel
	url = git@github.com:wavestate/wavestate-devel.git
[submodule "wavestate-control"]
	path = wield-control
	url = git@github.com:wavestate/wavestate-control.git
[submodule "wavestate-iirrational"]
	path = wield-iirrational
	url = git@github.com:wavestate/wavestate-iirrational.git
[submodule "wavestate-AAA"]
	path = wield-AAA
	url = git@github.com:wavestate/wavestate-AAA.git
[submodule "wavestate-pytest"]
	path = wield-pytest
	url = git@github.com:wavestate/wavestate-pytest.git
[submodule "wavestate-collection"]
	path = wield-collection
	url = git@github.com:wavestate/wavestate-collection.git
[submodule "wavestate-bunch"]
	path = wield-bunch
	url = git@github.com:wavestate/wavestate-bunch.git
[submodule "wavestate-LIGO-IFO"]
	path = wield-LIGO-IFO
	url = git@git.ligo.org:wavestate/wavestate-LIGO-IFO.git
[submodule "wavestate-epics-autocas"]
	path = wield-epics-autocas
	url = git@github.com:wavestate/wavestate-epics-autocas.git
[submodule "wavestate-declarative"]
	path = wield-declarative
	url = git@github.com:wavestate/wavestate-declarative.git
