[submodule "wield-doc"]
	path = wield-doc
	url = git@github.com:wieldphysics/wield-doc.git
[submodule "wield-test"]
	path = wield-test
	url = git@github.com:wieldphysics/wield-test.git
[submodule "wield-quantum"]
	path = wield-quantum
	url = git@github.com:wieldphysics/wield-quantum.git
[submodule "wield-utilities"]
	path = wield-utilities
	url = git@github.com:wieldphysics/wield-utilities.git
[submodule "wield-model"]
	path = wield-model
	url = git@github.com:wieldphysics/wield-model.git
[submodule "wield-devel"]
	path = wield-devel
	url = git@github.com:wieldphysics/wield-devel.git
[submodule "wield-control"]
	path = wield-control
	url = git@github.com:wieldphysics/wield-control.git
[submodule "wield-iirrational"]
	path = wield-iirrational
	url = git@github.com:wieldphysics/wield-iirrational.git
[submodule "wield-AAA"]
	path = wield-AAA
	url = git@github.com:wieldphysics/wield-AAA.git
[submodule "wield-pytest"]
	path = wield-pytest
	url = git@github.com:wieldphysics/wield-pytest.git
[submodule "wield-collection"]
	path = wield-collection
	url = git@github.com:wieldphysics/wield-collection.git
[submodule "wield-bunch"]
	path = wield-bunch
	url = git@github.com:wieldphysics/wield-bunch.git
[submodule "wield-LIGO-IFO"]
	path = wield-LIGO-IFO
	url = git@git.ligo.org:wieldphysics/wield-LIGO-IFO.git
[submodule "wield-epics-autocas"]
	path = wield-epics-autocas
	url = git@github.com:wieldphysics/wield-epics-autocas.git
[submodule "wield-declarative"]
	path = wield-declarative
	url = git@github.com:wieldphysics/wield-declarative.git
